* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

p {
  margin: 10px 0;
}

h1 {
  font-size: 30px;
  margin: 5px 0;
}

h2 {
  font-size: 25px;
  margin: 5px 0;
}

h3 {
  font-size: 20px;
  margin: 5px 0;
}

h4, h5, h6 {
  margin: 5px 0;
  font-size: 18px;
}

ul, ol {
  padding-left: 16px;
}

table {
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #555;
}

table td {
  padding: 3px 5px;
  text-align: left;
}

.visible {
  display: block;
}

.article {
  width: 100%;
}

.nav-btn-active {
  position: absolute;
  top: 45;
  left: 0;
  z-index: 999;
  width: 100%;
  text-align: left;
}

.no-overflow {
  overflow: hidden;
}

nav {
  display: none;
  padding-top: 110px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: left;
  background-color: #222;
  color: white;
}

nav svg {
  display: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
}

nav ul li {
  font-weight: bolder;
  font-size: 20px;
}

nav ul li a {
  font-weight: bolder;
  font-size: 20px;
}

nav ul li ul li {
  font-weight: normal;
  font-size: 18px;
}

nav ul li ul li a {
  font-weight: normal;
  font-size: 18px;
}

#baner {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
}

#left-header {
  height: 70px;
  width: 75px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 0px 30px 30px 0px;
}

#left-header #nav-btn {
  background-color: #222;
  margin: 7px;
  border: none;
}

#left-header #nav-btn svg {
  height: 22px;
}

#right-header {
  flex: 1;
  height: 70px;
  padding: 15px 0 15px 25px;
  margin-top: 28px;
  line-height: 40px;
  font-size: 10px;
  background-color: #222;
  border-radius: 30px 0px 0px 30px;
  color: white;
}

#img-header {
  height: 110px;
}

#main_page_windows {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-shrink: 0;
}

.main_page_window_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 30px;
}

.main_page_window_text {
  color: white;
  background-color: #222;
  opacity: 0.9;
  width: 100%;
  height: auto;
  padding: 12px 28px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main_page_window_text p {
  margin: 0;
}

.main_page_window_title {
  font-size: 20px;
  font-weight: bold;
}

.main_page_window {
  position: relative;
  height: 400px;
  width: 100% !important;
}

.main_page_window a {
  text-decoration: none;
}

.article {
  padding: 20px 15px;
  width: 100%;
}

.article * img {
  max-width: 100%;
  padding: 10px;
}

.resolution {
  padding: 20px 10px;
}

.resolution .title {
  font-size: 23px;
  margin: 10px 0;
}

.resolution .date {
  margin: 5px 0;
}

.resolution a {
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

.resolution a:hover {
  text-decoration: underline;
}

.mini-windows {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  gap: 15px;
  margin: 15px 0;
}

.mini-windows .mini-window {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: blue;
}

.mini-windows .mini-window img {
  border-radius: 20px;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mini-windows .mini-window .mini-window-text {
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #222;
  opacity: 0.9;
}

.mini-windows .mini-window .mini-window-text p {
  color: white;
}

.language-chooser {
  list-style-type: none;
  width: 80%;
  position: absolute;
  right: 5;
  top: 5;
  display: flex;
  justify-content: flex-end;
}

.language-chooser img {
  width: 25px;
  border: 1px solid #888;
}

.language-chooser li {
  padding-right: 10px;
}

.language-chooser li a {
  color: #222;
  text-decoration: none;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images img {
  width: 100%;
}

.fullscreen-image {
  display: none;
}

.overlay {
  display: none;
}
