{% load cms_tags sekizai_tags menu_tags cms_static %}
<html>
  <head>
    <title>{% page_attribute "page_title" %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/logo_psg.png" type="image/x-icon">
    {% block css %}{% endblock %}
    {% render_block "css" %}
    {% addtoblock "css" %}
      <link href="/static/style/style.min.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/static/style/responsive.min.css" media="screen" rel="stylesheet" type="text/css" />
    {% endaddtoblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container"></div>
    {% cms_toolbar %}
    <header>
      {% static_placeholder 'Header' %}
    </header>
    <nav id="nav" class="">
      <ul>
        {% show_menu 0 100 100 100 %}
      </ul>
    </nav>
      {% block content %}
      {% endblock content %}
    </div>
    {% render_block "js" %}s
    <script src="/static/scripts/menu.js"></script>
  </body>
</html>
